@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="jumbotron">
    <h1>University</h1>
</div>
<p>
    <a asp-controller="Groups" asp-action="Index">Groups</a> |
    <a asp-controller="Deparments" asp-action="Index">Departments</a> |
    <!--   <a asp-controller="Shedules" asp-action="Indexx">Shedules</a> |-->
    <a asp-controller="Lessons" asp-action="Index">Lessons</a>
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Ласкаво просимо до сторінки роботи з данними університету</h2>
        <p>
            Це надзвичайна сторінка, яка допоможе
            абсолютно безболісно
            насолодитись кращим універсітетом в світі.
        </p>
    </div>
</div>

<marquee behavior="alternate" direction="right">KILL ME PLS</marquee>