@model University_MVC_.ViewModel.LoginViewModel
    <head>
        <style>

            .otc {
                margin-left: 20px;
            }

            .bg-mydark {
                opacity: 0.8;
            }

            .text-mybright {
                opacity: 1;
                color: black;
            }
        </style>
    </head>
    <div class="bg-light text-center bg-mydark">
        <h2 class="text-center text-mybright">Вхід в Університет</h2>
    </div>
    <div class="bg-light bg-mydark">
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="text-mybright otc">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="text-mybright otc">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="text-mybright otc">
                <label asp-for="RememberMe"></label><br />
                <input asp-for="RememberMe" />
            </div>
            <input type="hidden" value="@ViewBag.IsAdmin" name="IsAdmin" />
            <div class="text-mybright otc">
                <input type="submit" value="Увійти" />
            </div>
        </form>
    </div>